<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Prepython</title>
</head>
<body>


      <div class="hero-section">
        <h1>eat.</h1>
        <h1>code<></h1>
        <h1>sleep.</h1>
        <h1>repeat.</h1>
        <p>Start practicing Today!! <br> <strong>For the upcoming interviews</strong> with AI tools.</p>

        <button type ="submit"><a style="text-decoration: none" href="/register">Register</button>
      </div>

      <div class="menu-section">
        <p>Edlabadkar<span>Sameer.io</span></p>
        <ul>

          <li><a href="about.html">About</a></li>
          <li><a href="index.html">Code</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
      <div class="image">
        <img src="{% static 'images/img1.png' %}" width="400px"
        height="400px"/>
      </div>
</body>
</html>