<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>




 <div class = "login-page">
    <div class="form">
        <form action ="/login" method = "post" class="register-form">
            {% csrf_token %}
            <label for ="">Username</label>
            <input type = "text" id = "username" name = "username" placeholder = "Username" required>
            <br>
            <label for ="">Password</label>
            <input type = "password" id = "pass1" name = "pass1" placeholder = "Password" required>
            <br>
            <button type="submit">Login</button>
        </form>

</div>
    </div>